.row>*{
    padding: 0 !important;
    margin: 0 !important;
}
.ant-tabs-nav{
    font-weight: bold;
    color: purple;
  padding: 10px;
}
.row{
    margin-right: 0 !important;
}
:where(.css-dev-only-do-not-override-h6gb4v).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: #76839c; 
}
:where(.css-dev-only-do-not-override-h6gb4v).ant-tabs .ant-tabs-tab{
    font-size: 18px;
}